{% extends 'managment/model.html' %}
{% load static %}

{% block conteudo %}
  <section class="page-section bg-light" id="portfolio">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Catálogo Eliane Noivas</h2>
        <h3 class="section-subheading text-muted">Tecendo sonhos com elegância, amor e dedicação desde 1985.</h3>
      </div>
      <div class="row">
        {% for object in object_list %}
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ object.id }}">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img src="{{ object.image_url }}" class="img-fluid" alt="Imagem" />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">{{ object.clothing.name }}</div>
                <div class="portfolio-caption-subheading text-muted">{{ object.clothing.value }}</div>
              </div>
            </div>
          </div>

          {% comment %}pop up{% endcomment %}
          <div class="portfolio-modal modal fade" id="portfolioModal{{ object.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                  <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                      <div class="modal-body">
                        <h2 class="text-uppercase">{{ object.clothing.name }}</h2>
                        <img class="img-fluid d-block mx-auto" src="{{ object.image_url }}" alt="..." />
                        <p>{{ object.clothing.description }}</p>
                        <ul class="list-inline">
                          <li>
                            <strong>Tamanho:</strong>
                            {{ object.clothing.size }}
                          </li>
                          <li>
                            <strong>Cor:</strong>
                            {{ object.clothing.color }}
                          </li>
                          <li>
                            <strong>Categoria:</strong>
                            {{ object.clothing.category }}
                          </li>
                          <li>
                            <strong>Valor:</strong>
                            {{ object.clothing.value }}
                          </li>
                        </ul>
                        <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                          <i class="fas fa-xmark me-1"></i>
                          fechar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <div>
            <h1>Não há fotos cadastradas</h1>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
